.app-info {
  background:
    url("../img/demostration-phone-screen.png") no-repeat 50% top,
    url("../img/demostration-phone.png") no-repeat 50% top,
    url("../img/demostration-background.png") no-repeat 50% top;
}

.app-info__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
