.ask-answer-block {
  color: $blue-700;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ask-answer-block__ask {
  margin-bottom: 0;
}

.ask-answer-block__answer {
  margin-top: 0;
}
