.author {
  background-color: $basic-white;
  color: $dark-blue;
  text-align: center;
}

.author__name {
  color: $basic-black;
  font-size: 18px;
  line-height: 30px;
}

.author__info {
  font-size: 20px;
  line-height: 30px;
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
  }
}
