.button {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  border-width: 3px;
  border-style: solid;
  border-color: $primary-pink;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
}

.button--send {
  color: $primary-pink;
}

.button--cancel {
  color: $blue-700;
  border-color: $blue-700;
  opacity: 0.1;
}
