.button {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  border-width: 3px;
  border-style: solid;
  border-color: $primary-pink;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
}

.button--download {
  border-color: $white;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: inherit;

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.button--download:hover {
  background-color: $white;
  color: $primary-pink;
}

.button--download:active {
  color: rgba($color: $primary-pink, $alpha: 0.3);
}

.button--send {
  color: $primary-pink;
}

.button--cancel {
  color: $blue-700;
  border-color: $blue-700;
  opacity: 0.1;
}
