.comment {
  font-weight: 400;
  border: none;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 41px;
    border: 2px solid $gray-200;
    border-radius: 1px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 34px;
    padding-bottom: 34px;
  }
}

.comment__wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.comment__caption {
  color: $primary-pink;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-left: auto;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.comment__text {
  font-family: "Open Sans", "Arial", sans-serif;
  width: 100%;
  color: $blue-700;
  font-size: 18px;
  line-height: 30px;
  padding: 14px 20px;
  border: 2px solid $gray-200;
  border-radius: 1px;
  min-height: 200px;

  @media (min-width: $tablet-width) {
    padding-left: 18px;
    padding-right: 18px;
    min-height: 195px;
  }

  @media (min-width: $desktop-width) {
    min-height: 128px;
  }
}

.comment__text:focus {
  outline-color: $primary-pink;
}

.comment__text::placeholder {
  color: $blue-700;
}
