.comment {
  font-weight: 400;
}

.comment__wrapper {
  @include phone-wrapper;

  @media (min-width: $tablet-width) {
    @include tablet-wrapper;
  }

  @media (min-width: $desktop-width) {
    @include desktop-wrapper;
  }
}

.comment__caption {
  color: $primary-pink;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.comment__text {
  width: 100%;
  color: $blue-700;
  font-size: 18px;
  line-height: 30px;
  padding: 22px 20px;
  border: 2px solid $gray-200;
  border-radius: 1px;
}

.comment__text::placeholder {
  color: $blue-700;
}
