.competition-addictional {
  color: $blue-700;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.competition-addictional__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
