.download {
  background-color: $blue-800;
  color: $white;

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.download__button {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.download__list {
  grid-column: 1 / 2;

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 20px;
  width: 204px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.download__link {
  display: block;
  width: 56px;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
}

.download__link--apple {
  background-image: url("../img/logo-apple.svg");
}

.download__link--android {
  background-image: url("../img/logo-android.svg");
}

.download__link--microsoft {
  background-image: url("../img/logo-microsoft.svg");
}

.download__text {
  grid-column: 1 / 2;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
