.filter {
  background-color: cornflowerblue;
  outline: 1px solid salmon;
  outline-offset: -1px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.filter--active .filter__range {
  display: block;

  @media (min-width: $tablet-width) {
    left: auto;
    bottom: auto;
  }
}

.filter--active .filter__toggle {
  display: block;
}

.filter--active path {
  fill: $primary-pink;
}

.filter__range {
  position: relative;
  height: 2px;
  // width: 240px;
  background-color: $blue-700;
  display: none;
  left: 50%;
  transform: translateX(-50%);


  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    left: auto;
    transform: none;
  }
}

.filter__toggle {
  position: absolute;
  top: -7px;
  width: 16px;
  height: 16px;
  border: 2px solid $primary-pink;
  border-radius: 50%;
  background-color: $white;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.filter__button {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    margin-left: 3px;
    width: 24px;
    height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 48px;
  }
}
