.filter__range {
  position: relative;
  height: 2px;
  background-color: $blue-700;
  display: block;
}

.filter__toggle {
  position: absolute;
  top: -7px;
  width: 16px;
  height: 16px;
  border: 2px solid $primary-pink;
  border-radius: 50%;
  background-color: $white;
  display: block;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.filter__toggle:active {
  background-color: $primary-pink;
}

.filter__button {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    margin-left: 3px;
    width: 24px;
    height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 48px;
  }
}
