.form {
  color: $blue-700;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 620px;
    justify-content: center;
    grid-template-areas:
      "first"
      "second"
      "third"
      "fourth"
      "fifth";
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 435px);
    column-gap: 70px;
    justify-content: center;
    grid-template-areas:
      "first-1 first-2"
      "second second"
      "third third"
      "fourth fourth"
      "fifth fifth";
    margin-bottom: 3px;
  }
}

.form__group {
  margin-left: 0;
  margin-right: 0;
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.form__group--first-element {
  @media (min-width: $tablet-width) {
    grid-area: fisrt-1;
  }
}

.form__group--second-element {
  @media (min-width: $tablet-width) {
    grid-area: second;
  }

  @media (min-width: $desktop-width) {
    grid-area: first-2;
  }
}

.form__group--third-element {
  @media (min-width: $tablet-width) {
    grid-area: third;
  }

  @media (min-width: $desktop-width) {
    grid-area: second;
  }
}

.form__group--fourth-element {
  @media (min-width: $tablet-width) {
    grid-area: fourth;
  }

  @media (min-width: $desktop-width) {
    grid-area: third;
    margin-top: 60px;
  }
}

.form__group--fifth-element {
  @media (min-width: $tablet-width) {
    grid-area: fifth;
  }

  @media (min-width: $desktop-width) {
    grid-area: fourth;
  }
}

.form__group--comment {
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.form__submit {
  margin-top: 30px;
  padding-bottom: 16px;
  grid-column: 1 / -1;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}
