.page-header {
  min-height: 237px;
  background: url("../img/demostration-background.png") no-repeat 50% top;
  background-color: $blue-700;

  @media (min-width: $tablet-width) {
    background-image: url("../img/background-page-header-tablet.png");
    min-height: 440px;
  }

  @media (min-width: $desktop-width) {
    min-height: 394px;
    background-image: url("../img/background-page-header-desktop.png");
  }
}

.page-header--index {
  background:
    url("../img/background-page-header-phone--mobile.png") no-repeat center top 175px,
    url("../img/demostration-background.png") no-repeat center top;
  background-color: $blue-700;

  @media (min-width: $tablet-width) {
    background:
      url("../img/background-page-header-phone--tablet.png") no-repeat center bottom,
      url("../img/background-page-header-tablet.png") no-repeat center top;
    background-color: $blue-700;
  }

  @media (min-width: $desktop-width) {
    background:
      url("../img/background-page-header-phone--desktop.png") no-repeat calc(50% + 70px) bottom,
      url("../img/background-page-header-desktop.png") no-repeat center top;
    background-color: $blue-700;
  }
}

.page-header__nav {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 300px 620px;
    column-gap: 20px;
    justify-content: center;
  }
}
