.page-footer {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 68px;
  }
}

.page-footer__wrapper {
  width: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 172px 178px 172px;
    column-gap: 49px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 166px 178px 166px;
    column-gap: 215px;
  }
}

.page-footer__logo {
  display: block;
  width: 145px;
  height: 40px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    justify-self: start;
    align-self: start;
  }
}

.page-footer__logo:hover {
  .page-footer__logo-text {
    fill: $primary-pink;
  }

  .page-footer__logo-glass {
    fill: $primary-pink;
  }
}

.page-footer__logo:active {
  .page-footer__logo-image {
    opacity: 0.3;
  }

  .page-footer__logo-text {
    fill: $blue-700;
  }
}

.page-footer__logo-text {
  fill: $blue-700;
}

.page-footer__logo-glass {
  fill: $primary-pink;
}

.page-footer__social {
  margin-top: 36px;

  @media (min-width: $tablet-width) {
    justify-self: center;
    margin: 0;
  }
}

.page-footer__copyright {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    justify-self: end;
    margin: 0;
  }
}
