.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: block;
  width: 145px;
  height: 40px;
}

.page-footer__logo:hover path {
  fill: $primary-pink;
}
