.page-header {
  min-height: 237px;
}

.page-header--index {
  .page-header__info {
    margin-top: -66px;
    padding-top: 90px;
    padding-bottom: 0;
    background-image: url("../img/phone-in-hand-mobile.png"), url("../img/background-header-mobile.png");
    background-repeat: no-repeat;
    background-position: center top 175px, center top;
    background-size: 320px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone-in-hand-mobile@2x.png"), url("../img/background-header-mobile@2x.png");
    }

    @media (min-width: $tablet-width) {
      margin-top: -109px;
      padding-top: 204px;
      padding-bottom: 112px;
      background-image: url("../img/phone-in-hand-tablet.png"), url("../img/background-header-tablet.png");
      background-position: center bottom, center top;
      background-size: 660px auto, 1200px auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/phone-in-hand-tablet@2x.png"), url("../img/background-header-tablet@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      margin-top: -110px;
      padding-top: 209px;
      padding-bottom: 124px;
      background-image: url("../img/phone-in-hand-desktop.png"), url("../img/background-header-desktop.png");
      background-position: calc(50% + 70px) bottom, center top;
      background-size: 1050px auto, 2560px auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/phone-in-hand-desktop@2x.png"), url("../img/background-header-desktop@2x.png");
      }
    }
  }
}

.page-header__info {
  min-height: 236px;
  margin-top: -66px;
  padding-top: 95px;
  padding-bottom: 42px;
  background-image: url("../img/background-header-mobile.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-color: $blue-700;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-header-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    min-height: 440px;
    margin-top: -109px;
    padding-top: 175px;
    padding-bottom: 60px;
    background-image: url("../img/background-header-tablet.png");
    background-size: 1200px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-header-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 390px;
    margin-top: -110px;
    padding-top: 170px;
    padding-bottom: 88px;
    background-image: url("../img/background-header-desktop.png");
    background-size: 2560px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-header-desktop@2x.png");
    }
  }
}

.page-header__nav {
  position: relative;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 300px 620px;
    column-gap: 20px;
    justify-content: center;
  }
}
