.popup {
  padding-top: 36px;
  padding-bottom: 0;
  background-color: $white;
  text-align: center;
  box-shadow: 0 7px 15px rgba($black, 0.15);
  border-radius: 1px;
}

.popup--success {
  .popup__wrapper {
    @media (min-width: $desktop-width) {
      width: 396px;
    }
  }

  .popup__buttons-wrapper {
    @media (min-width: $desktop-width) {
      width: 456px;
    }
  }
}

.popup--failure {
  .popup__text {
    @media (min-width: $desktop-width) {
      margin-bottom: 60px;
    }
  }

  .popup__buttons-container {
    @media (max-width: $mobile-width-only) {
      padding-bottom: 0;
    }

    @media (max-width: $tablet-width-only) {
      background-color: $white;
      padding-top: 6px;
      padding-bottom: 52px;
    }
  }
}

.popup--open {
  display: block;
}

.popup__wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 330px;
  }

  @media (min-width: $desktop-width) {
    width: 352px;
  }
}

.popup__caption {
  color: $black;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 40px;
    padding: 0;
  }
}

.popup__text {
  color: $blue-700;
  font-size: 14px;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.popup__buttons-container {
  width: 100%;
  padding-top: 52px;
  padding-bottom: 52px;
  background-color: $gray-100;
}

.popup__buttons-wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 296px;
  }
}

.popup__button {
  font-family: inherit;
  color: $white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: $primary-green;
  border: 2px solid $primary-green;
  border-radius: 1px;
}
