.post {
  background-color: $gray-100;
}

.post--best-of-day {
  background: none;

  .post__image-wrapper {
    width: 320px;
    max-height: 137px;
    background: none;
    margin: 0 auto;
    padding: 0;
    position: relative;

    @media (min-width: $tablet-width) {
      max-height: 509px;
      width: 660px;
    }

    @media (min-width: $desktop-width) {
      max-height: 506px;
      width: 1200px;
    }
  }

  .post__image-wrapper::after {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 36px;
    background-color: $primary-pink;
    font-family: inherit;
    color: $white;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      top: 58px;
    }

    @media (min-width: $desktop-width) {
      top: 54px;
      right: 130px;
    }
  }

  .post__image {
    width: 320px;
    height: auto;

    @media (min-width: $tablet-width) {
      width: 660px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
    }
  }

  .post__info {
    width: 280px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $tablet-width) {
      width: 620px;
      min-height: auto;
    }

    @media (min-width: $desktop-width) {
      width: 940px;
    }
  }
}

.post__image-wrapper {
  display: flex;
  justify-content: center;
  background-color: $gray-100;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-height: 300px;
  }

  @media (min-width: $desktop-width) {
    max-height: 400px;
  }
}

.post__image-wrapper img {
  width: 100%;
  height: auto;
}

.post__info {
  @media (min-width: $tablet-width) {
    min-height: 155px;
  }
}
