.text-info {
  padding: 0;
  background-color: $white;
  border: none;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 37px;
    border: 2px solid $gray-200;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 39px;
    padding-bottom: 23px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.text-info--no-border {
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 15px;
  }
}

.text-info--contacts {
  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
    padding-bottom: 13px;
  }

  .text-info__caption {
    @media (min-width: $tablet-width) {
      padding: 0 30px;
    }
  }

  .text-info__list {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 72px;
    }
  }

  .text-info__item + .text-info__item {
    @media (min-width: $tablet-width) {
      margin-top: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }
}

.text-info__wrapper {
  @media (max-width: $mobile-width-only) {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.text-info__caption {
  color: $primary-pink;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
  }

  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-left: auto;
  }
}

.text-info__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-info__item {
  padding: 0;
  margin: 0;
}

.text-info__item + .text-info__item {
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 52px;
  }
}
