.text-info {
  border: none;
  padding: 0;
  margin: 0;
  background-color: $white;
}

.text-info__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-info__item {
  padding: 0;
  margin: 0;
}
