.upload {
  background-color: $gray-100;

  @media (min-width: $desktop-width) {
    background: none;
    padding-bottom: 30px;
  }
}

.upload__caption-wrapper {
  width: 100%;
  background-color: $white;
}

.upload__caption {
  width: 280px;
  color: $blue-700;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    width: 620px;
    font-size: 18px;
    padding-top: 66px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    padding-bottom: 66px;
  }
}

.upload__wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  background-color: $gray-100;

  @media (min-width: $tablet-width) {
    width: 620px;
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 45px;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    column-gap: 90px;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 55px;
  }
}

.upload__preview {
  width: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.upload__form {
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 25px;
    margin-top: 0;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 50px 1fr;
    column-gap: 42px;
    padding-top: 0;
  }
}

.upload__form-list {
  list-style: none;
  margin: 0;
  margin-top: 36px;
  padding: 0;
  padding-bottom: 36px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0;
    margin: 0;
  }
}

.upload__form-item {
  position: relative;
  margin: 0 auto;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 23px;
    padding-bottom: 24px;
    padding-right: 30px;
  }
}

.upload__form-item::after {
  content: "";
  position: absolute;
  bottom: -25px;
  right: -19px;
  display: block;
  width: 293px;
  height: 1px;
  background-color: rgba($color: $blue-700, $alpha: 0.3);

  @media (min-width: $desktop-width) {
    bottom: -12px;
    right: 0;
    width: 411px;
  }
}

.upload__form-item:last-child::after {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.upload__form-item--active {
  display: block;
}

.upload__form-item--active::after {
  @media (max-width: $mobile-width-only) {
    width: 320px;
    bottom: -35px;
    left: -40px;
  }
}

.upload__form-item + .upload__form-item {
  @media (min-width: $tablet-width) {
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
  }
}

.upload__buttons-wrapper {
  grid-column: 1 / -1;
  padding-top: 35px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-top: 90px;
    padding-right: 13px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 183px 183px;
    column-gap: 44px;
    margin-top: 66px;
  }
}

.upload__button {
  font-family: inherit;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.upload__button + .upload__button {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.upload__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 206px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
  }
}

.upload__tab {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  background-color: $gray-100;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 48px;
  }
}

.upload__tab--active {
  .upload__tab-icon {
    @media (max-width: $mobile-width-only) {
      fill: $primary-pink;
      opacity: 1;
    }
  }
}

.upload__tab + .upload__tab {
  @media (min-width: $tablet-width) {
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
  }
}

.upload__tab-icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: $blue-700;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    fill: $primary-pink;
    opacity: 1;
  }
}

.upload__tab:hover .upload__tab-icon {
  opacity: 0.5;

  @media (min-width: $tablet-width) {
    opacity: 1;
  }
}

.upload__tab:active .upload__tab-icon {
  fill: $primary-pink;
  opacity: 1;
}
