.users-photos__caption {
  color: $blue-700;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.users-photos__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.users-photos__item {
  margin: 0;
  padding: 0;
}
