$basic-white: #FFFFFF;
$basic-pink: #D22856;
$basic-black: #000000;
$menu-black: fade-out(#000000, 0.3);

$light-gray: #F2F2F2;
$special-gray: #E5E5E5;

$dark-blue: #283645;


$special-dark-blue: #1D2631;

